@font-face {
  font-family: "iconfont"; /* Project id 4316499 */
  src: url('iconfont.woff2?t=1702990512630') format('woff2'),
       url('iconfont.woff?t=1702990512630') format('woff'),
       url('iconfont.ttf?t=1702990512630') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ydyx:before {
  content: "\e739";
}

.icon-lskh:before {
  content: "\e719";
}

.icon-arrow-lv:before {
  content: "\e672";
}

.icon-arrow-red1:before {
  content: "\e600";
}

.icon-arrow-red:before {
  content: "\e671";
}

.icon-agent-lv:before {
  content: "\e606";
}

.icon-jx:before {
  content: "\e670";
}

.icon-DevelopmentPathMap_02_Gray:before {
  content: "\e617";
}

.icon-xuanzhong2x:before {
  content: "\e60a";
}

.icon-ls:before {
  content: "\e625";
}

.icon-ck:before {
  content: "\e63a";
}

.icon-dk:before {
  content: "\e60c";
}

